<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace : package + classname (Mapper.java)-->
<mapper namespace="jins.studyBackend.mapper.MainMapper">
    <select id="getUser" resultType="hashMap">
        SELECT * FROM user
    </select>

    <insert id="regiUser" parameterType="hashMap">
        INSERT INTO user
        VALUES (
            #{id}
            ,#{pw}
            ,#{name}
            ,#{age}
            ,#{email}
            ,#{phone}
        )
    </insert>

    <update id="updateUser" parameterType="hashMap">
        UPDATE user SET
            name = #{name}
            ,age = #{age}
            ,phone = #{phone}
            ,email = #{email}
        WHERE id = #{id}
    </update>

    <delete id="delUser" parameterType="string">
        DELETE FROM user where id = #{id}
    </delete>

    <select id="getUserOne" resultType="hashMap">
        SELECT * FROM user limit 1
    </select>

    <update id="putUser" parameterType="hashMap">
        UPDATE user SET
            name = #{name}
                      ,age = #{age}
                      ,phone = #{phone}
                      ,email = #{email}
        WHERE id = #{id}
    </update>
</mapper>